*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
}


li{
    color: red;
    display: inline-block;
    font-size: 70px;
    font-family: 'Audiowide', cursive;
    letter-spacing: 13px;
    text-shadow: 0 0 20px red, 0 0 15px white;
}
li:nth-child(5){
    transform:rotate(15deg)translateY(4px);
    animation: neon 1.2s infinite;
}
li:nth-child(4){
   /*  transform:rotate(15deg)translateY(4px);*/
    
}
li:nth-child(3){
  /*  transform:rotate(15deg)translateY(4px); */
}
li:nth-child(2){
  /*  transform:rotate(15deg)translateY(4px);*/
}
li:nth-child(1){
    color:  white;
    text-shadow: 0 0 25px white, 0 0 10px yellow;
}
li.off{
    animation-play-state:paused;
    opacity: 0;
    
}

@keyframes neon{
    0%{opacity: 0
    }
    10%{
        opacity: 1
    }
    20%{
        opacity: 0
    }
    35%{
        opacity: 1
    }
    37%{
        opacity: 0.5;
    }
    45%{
        opacity: 0
    }
    55%{
        opacity: 1
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    77%{
        opacity: 0;
    }
   
    100%{opacity: 1}
}

@keyframes neon2{
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(2);
    }
}
ul{
    margin: auto;
}

button{
    position: absolute;
    left: 5%;
    top: 5%;
}

