*{
    margin: 0;
    padding: 0;
}
#container{
    width: 70vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    font-family: 'Courier New';
    position: relative;
}
input{
    margin: 0;
   
    
}